.posts {
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
}

.posts__header {
  width: 100%;
  height: 100px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #c2c2c2;
  letter-spacing: 1px;
}

.posts__heading {
  margin: 0;
  padding: 0;
}

.posts__container {
  display: flex;
  position: relative;
  width: 100%;
}

.users {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 35%;
  padding: 15px;
  border-right: 1px solid #c2c2c2;
}

.cards__search,
.users__search {
  display: flex;
  margin: 7px 0;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  color: #1A1A1AFF;
  font-size: 13px;
  line-height: 13px;
  font-weight: 700;
  padding: 0;
  text-align: center;
  border: none;
  background-color: rgba(237, 237, 237, 0.5);
  outline: none;
}

.cards__search:focus,
.users__search:focus {
  border-width: 1px;
  border-style: solid;
  border-color: #CACACAFF #fff #fff;
  background-color: #EDEDEDFF;
}

.cards {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 65%;
  padding: 15px;
}

.cards__settings {
  display: flex;
  width: 100%;
  align-items: center;
}

.cards__sorting-container {
  display: flex;
  margin-right: 15px;
}

.cards__sort-asc,
.cards__sort-desc {
  margin: 10px auto;
  display: block;
  max-width: 75%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 7px 12px;
  background-color: #fff;
  border: 1px solid #526064FF;
  font-weight: 700;
  border-radius: 5px;
  color: #526064FF;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  outline: none;
}

.cards__sort-asc.active,
.cards__sort-desc.active,
.cards__sort-asc:hover,
.cards__sort-desc:hover {
  background: #0E6AED;
  color: #fff;
  border-color: #fff;
}

.cards__sort-asc {
  margin-right: 10px;
}
